<div class="TMP__toolbar">
   <a class="right" href="javascript:removeToolbar();" ref="nofollow"><%= image_tag "/images/bookmarklet/close.png" %></a>
   <a class="right" href="<%= @search_url %>" ref="nofollow">Go back to Legislators List</a>
   <% unless @original_url.blank? %>
     <a class="left" href="<%= @original_url %>" ref="nofollow">Return to your original site</a>
   <% end %>
   <%= image_tag "/images/design/TMP_LOGO.png" %>
</div>
<div id="iframewrapper">
<iframe frameborder="0" width="100%" height="100%" id="TMP__mainframe" name="TMP__mainframe" src="<%= @target_url %>" >
</iframe>
</div>
