<li class="<%= politician.party %>">
<span>
	<%= politician.firstname + politician.middlename + politician.lastname %><br/>
	<%= politician.state %>	 
</span>
<span>
	Phone: <%= politician.phone %>
	Fax: <%= politician.fax
	Address: <%= politician.congress_office %>
	Website: <%= politician.website %>
</span>
</li>
