<% results_title(legislator.district, legislator.state) -%>
<li class="<%= legislator.party %>">
	<%= legislator_image( legislator.bioguide_id ) %>
	<div class="politician_name">
    <span class="politician_name"><%= legislator.firstname + ' ' + legislator.middlename + ' ' + legislator.lastname %></span><br/>
		<%= legislator.state %><br/>
		<%= full_party_name(legislator.party) %><br/>
		<%= district_or_seniority(legislator.district) %><br/>
	</div>
	<div class="politician_address">
		<b>phone</b> <%= legislator.phone %> |
		<b>fax</b> <%= legislator.fax %><br/>
		<%= full_address( legislator.congress_office ) %><br/>
		<%= twitter_link( legislator.twitter_id, legislator.title, legislator.firstname, legislator.lastname ) %>
		<%= website_link( legislator.website, legislator.title, legislator.firstname, legislator.lastname ) %>
                <%= contact_link(legislator.title, legislator.firstname, legislator.lastname, legislator.email, legislator.webform, @link.url) %>
	</div>
	<br style="clear:both" />
</li>
