<li class="<%= result.party %>">
<span>
	<%= result.firstname + ' ' + result.middlename + ' ' + result.lastname %><br/>
	<%= result.state %>
</span>
<span>
	Phone: <%= result.phone %>
	Fax: <%= result.fax %>
	Address: <%= result.congress_office %>
	Website: <%= result.website %>
</span>
</li>
