<li class="<%= result.party %>">
	<img class="politician_picture" src="./images/pictures/<%= result.bioguide_id %>.jpg"/>
	<div class="politician_name">		
		<%= result.firstname + ' ' + result.middlename + ' ' + result.lastname %><br/>
		<%= result.state %>
	</div>
	<div class="politician_address">
		<b>Phone:</b> <%= result.phone %><br/>
		<b>Fax:</b> <%= result.fax %><br/>
		<b>Address:</b> <%= result.congress_office %><br/>
		<b>Website:</b> <%= link_to result.website, result.website, {:rel=>'nofollow'} %><br/>
		<b>Contact Form:</b> <%= link_to result.webform, result.webform , {:rel=>'nofollow'} %><br/>
		<b>Email:</b> <%= link_to_unless result.email.length > 0, result.email, result.email, {:rel=>'nofollow'} %>
	</div>
	<br style="clear:both" />
</li>
