<% results_title(result.district, result.state) -%>
<li class="<%= result.party %>">
	<img class="politician_picture" src="./images/pictures/<%= result.bioguide_id %>.jpg"/>
	<div class="politician_name">
    <span class="politician_name"><%= result.firstname + ' ' + result.middlename + ' ' + result.lastname %></span><br/>
		<%= result.state %><br/>
		<%= WriteLongPartyName(result.party) %><br/>
		<%= district_or_seniority(result.district) %><br/>
	</div>
	<div class="politician_address">
		<b>phone</b> <%= result.phone %> |
		<b>fax</b> <%= result.fax %><br/>
		<%= result.congress_office %><br/>
		<%= link_to result.website, result.website, {:rel=>'nofollow'} %><br/>
		<%= link_to 'Email ' + WriteLongTitle(result.title) + ' ' + result.lastname,WriteEmailLink( result.email, result.webform ) , {:rel=>'nofollow'} %><br/>
	</div>
	<br style="clear:both" />
</li>
