<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield(:title) || "TellMyPolitician | Be Heard" %></title>
    <%= stylesheet_link_tag 'screen', :media => 'all', :cache => true %>
    <style type="text/css">
     body
     {
      background-image:none;
     }
     div#wrapper
     {
	border:none;
        padding:0px;
     }
     div#search input[type="text"]
     {
	/*height:39px;*/
     }
/*
     div#content, div#wrapper
     {
        width:623px;
     }
     div#content
     {
       padding:5px;
     }*/
    </style>
    <%= javascript_include_tag :defaults, '/javascripts/plugins/jquery.emptyonclick.js', '/javascripts/plugins/jquery.validate.min.js', :cache => true %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body class="<%= body_class %>">
	<div id="wrapper">
		<div id="content">
			<%= yield %>
		</div>
  </div>
  </body>
</html>
